{% extends 'layout.html' %}

{% block content %}

<h2>Attendance Report</h2>

<table
    id="attendance_table"
    class="table table-bordered table-striped mt-4"
>

    <thead class="table-dark">

        <tr>

            <th>ID</th>
            <th>Student Name</th>
            <th>Course</th>
            <th>Date</th>
            <th>Status</th>
            <th>Remarks</th>

        </tr>

    </thead>

    <tbody>

        {% for record in attendance_records %}

        <tr>

            <td>{{ record.attendance_id }}</td>

            <td>
                {{ record.first_name }}
                {{ record.last_name }}
            </td>

            <td>{{ record.course_name }}</td>

            <td>{{ record.attendance_date }}</td>

            <td>{{ record.attendance_status }}</td>

            <td>{{ record.remarks }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}


{% block scripts %}

<script>

    $(document).ready(function () {

        $('#attendance_table').DataTable();

    });

</script>

{% endblock %}